
.App {
  display: block;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
  background-color: #666666c2;
  
}
.content {
  display:block;
  position:relative;
  margin-top:6em;
  margin-bottom: 1em; 
}


.footer {
  display: block;
  background-color: lime;
  margin-top: 5%;
}

.modal-hide {
  display: none;
}

.modal-show {
  display: block;
}

.show-cart-button {
  display: flex;
  position: relative;
  margin-top: 2%;
  margin-left: 65%;
}