.search-container {
    display:inline-block;
    width: fit-content;
    position: relative;
    margin-left: 46%;
    margin-top: 10%
  }
  
.search-container input[type=text] {
    padding: 6px;
    font-size: 17px;
}
  
.search-container button {
    padding: 6px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
